// Basics
@import './basics/helpers';
@import './basics/base';

// Cmps
@import './cmps/AddComment';
@import './cmps/Comments';
@import './cmps/CommentPreview';
@import './cmps/Filter';

// Pages
@import './pages/FeedContainer';

.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}